<mat-toolbar class="header shadow-sm">
  <!-- Logo -->
  <a routerLink="/home" class="logo"> Золотая рыбка </a>
  <mat-form-field
    appearance="outline"
    class="store-select"
    subscriptSizing="dynamic"
  >
    <mat-select
      [value]="selectedStoreId()"
      (selectionChange)="onStoreChange($event.value)"
    >
      @for (store of stores(); track store.id) {
        <mat-option [value]="store.id">
          {{ store.title }}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>
  <!-- Search -->
  <mat-form-field appearance="outline" class="search" subscriptSizing="dynamic">
    <mat-icon matPrefix>search</mat-icon>

    <input matInput placeholder="Поиск товаров" />
  </mat-form-field>

  <!-- Navigation -->
  <div class="actions">
    <button mat-icon-button routerLink="/orders">
      <mat-icon>receipt_long</mat-icon>
    </button>

    <button
  mat-icon-button
  routerLink="/cart"
  [matBadge]="totalCount()"
  matBadgeColor="warn"
>
  <mat-icon>
    shopping_cart
  </mat-icon>
</button>

    <button mat-icon-button routerLink="/profile">
      <mat-icon>person</mat-icon>
    </button>
  </div>
</mat-toolbar>
