<header class="header">

  <div class="header-container">

    <!-- LOGO -->

    <a
      routerLink="/home"
      class="brand"
    >

      <div class="brand-icon">
        <mat-icon>set_meal</mat-icon>
      </div>

      <div class="brand-text">

        <strong>
          Золотая рыбка
        </strong>

        <span>
          продукты рядом
        </span>

      </div>

    </a>


    <!-- STORE -->

    <div class="store-selector">

      <div class="store-icon">
        <mat-icon>location_on</mat-icon>
      </div>

      <div class="store-content">

        <span class="store-label">
          Ваш магазин
        </span>

        <mat-select
          [value]="selectedStoreId()"
          (selectionChange)="
            onStoreChange($event.value)
          "
        >

          @for (
            store of stores();
            track store.id
          ) {

            <mat-option
              [value]="store.id"
            >
              {{ store.title }}
            </mat-option>

          }

        </mat-select>

      </div>

    </div>


    <!-- SEARCH -->

    <div class="search">

      <mat-icon>
        search
      </mat-icon>

      <input
        type="text"
        placeholder="Найти молоко, сыр, напитки..."
        [value]="search()"
        (input)="
          search.set(
            $any($event.target).value
          )
        "
        (keyup.enter)="searchProducts()"
      />

      @if (search()) {

        <button
          type="button"
          class="clear-search"
          (click)="search.set('')"
        >
          <mat-icon>
            close
          </mat-icon>
        </button>

      }

      <button
        type="button"
        class="search-button"
        (click)="searchProducts()"
      >
        Найти
      </button>

    </div>


    <!-- ACTIONS -->

    <nav class="actions">

      <a
        routerLink="/orders"
        class="action"
      >

        <div class="action-icon">
          <mat-icon>
            receipt_long
          </mat-icon>
        </div>

        <span>
          Заказы
        </span>

      </a>


      <a
        routerLink="/cart"
        class="action cart-action"
      >

        <div
          class="action-icon"
          [matBadge]="totalCount()"
          [matBadgeHidden]="totalCount() === 0"
          matBadgeColor="warn"
          matBadgeSize="small"
        >
          <mat-icon>
            shopping_bag
          </mat-icon>
        </div>

        <span>
          Корзина
        </span>

      </a>


      <a
        routerLink="/profile"
        class="profile-action"
      >

        <div class="profile-icon">
          <mat-icon>
            person
          </mat-icon>
        </div>

      </a>

    </nav>

  </div>

</header>