:host {
  display: block;

  min-width: 0;
}

.category-card {
  position: relative;

  min-height: 110px;

  display: flex;
  align-items: flex-end;

  overflow: hidden;

  padding: 14px;

  border-radius: 16px;

  color: #171717;
  text-decoration: none;

  transition:
    transform 0.15s ease,
    box-shadow 0.15s ease;

  &:hover {
    transform: translateY(-2px);

    box-shadow:
      0 10px 24px
      rgba(0, 0, 80, 0.06);
  }
}

.content {
  position: relative;
  z-index: 2;

  min-width: 0;
}

h3 {
  margin: 0;

  overflow: hidden;

  font-size: 14px;
  line-height: 1.15;

  font-weight: 750;

  white-space: nowrap;
  text-overflow: ellipsis;
}

span {
  display: block;

  margin-top: 5px;

  color: #6f7380;

  font-size: 9px;
  font-weight: 600;
}

/* пастельные варианты */

.variant-1 {
  background: #edf3ff;
}

.variant-2 {
  background: #f5f1ff;
}

.variant-3 {
  background: #fff3e8;
}

.variant-4 {
  background: #eef8f5;
}

.variant-5 {
  background: #fff0f1;
}

/* MOBILE */

@media (max-width: 750px) {
  .category-card {
    min-height: 62px;

    padding: 7px 6px;

    border-radius: 9px;
  }

  h3 {
    font-size: 8px;
    line-height: 1.1;
  }

  span {
    margin-top: 2px;

    font-size: 6px;
  }
}