<div class="home-page">

  <app-hero-banner />


  <section class="section">

    <div class="section-header">
      <div>
        <span class="section-label">
          Каталог
        </span>

        <h2>
          Что сегодня хочется?
        </h2>
      </div>
    </div>

    <div class="categories-grid">

      @for (
        category of categories();
        track category.id;
        let i = $index
      ) {

        <app-category-card
          [category]="category"
          [index]="i"
        />

      }

    </div>

  </section>


  <section class="section">

    <div class="section-header">

      <div>
        <span class="section-label">
          Выбирают чаще всего
        </span>

        <h2>Популярное</h2>
      </div>

    </div>

    <div class="products-grid">

      @for (
        product of popularProducts();
        track product.id
      ) {

        <app-product-item
          [product]="product"
          
        />

      }

    </div>

  </section>


  <section class="section">

    <div class="section-header">

      <div>
        <span class="section-label">
          Только появились
        </span>

        <h2>Новинки</h2>
      </div>

    </div>

    <div class="products-grid">

      @for (
        product of newProducts();
        track product.id
      ) {

        <app-product-item
          [product]="product"
        />

      }

    </div>

  </section>

</div>