<div class="home-page">

  <app-hero-banner />

  <section class="section">
    <h2 class="section-title">
      Категории
    </h2>

    <div class="categories-grid">
      @for (category of categories(); track category.id) {
        <app-category-card
          [category]="category"
        />
      }
    </div>
  </section>

  <section class="section">
    <h2 class="section-title">
      Популярные товары
    </h2>

    <div class="products-grid">
      @for (product of popularProducts(); track product.id) {
        <app-product-item
          [product]="product"
        />
      }
    </div>
  </section>

  <section class="section">
    <h2 class="section-title">
      Новинки
    </h2>

    <div class="products-grid">
      @for (product of newProducts(); track product.id) {
        <app-product-item
          [product]="product"
        />
      }
    </div>
  </section>

</div>