<div class="orders-page">
  <div class="header">
    <h1>Заказы</h1>

    <div class="filters">
      <button mat-stroked-button (click)="load()">Все</button>
      <button mat-stroked-button (click)="filter('PROCESSING')">
        В Сборке
      </button>
      <button mat-stroked-button (click)="filter('READY')">Готовые</button>
    </div>
  </div>

  <div class="orders-grid">
    @for (order of orders(); track order.id) {
      <mat-card class="order-card">
        <!-- TOP -->
        <div class="order-top">
          <div class="left">
            <div class="order-id">#{{ order.id.slice(0, 8) }}</div>

            <div class="user">
              {{ order.user.email }}
            </div>
          </div>

          <div class="right">
            <span class="status" [class]="order.status.toLowerCase()">
              {{ order.status }}
            </span>
          </div>
        </div>

        <!-- ITEMS -->
        <div class="items">
          @for (item of order.items; track item.id) {
            <div class="item">
              <img [src]="item.product.images[0]" class="item-img" />

              <div class="item-info">
                <div class="title">
                  {{ item.product.title }}
                </div>

                <div class="meta">{{ item.quantity }} × {{ item.price }} ₽</div>
              </div>
            </div>
          }
        </div>

        <!-- FOOTER -->
        <div class="order-footer">
          <div class="total">
            Итого: <b>{{ order.total }} ₽</b>
          </div>

          <div class="actions">
            <button
              mat-button
              (click)="setStatus(order.id, EnumOrderStatus.PROCESSING)"
            >
              В сборке
            </button>

            <button
              mat-button
              color="primary"
              (click)="setStatus(order.id, EnumOrderStatus.READY)"
            >
              Собран
            </button>
          </div>
        </div>
      </mat-card>
    }
  </div>
</div>
