@if (product(); as product) {
  <div class="product-detail">
    <div class="image">
      <img [src]="product.images[0]" [alt]="product.title" />
    </div>

    <div class="info">
      <h1>
        {{ product.title }}
      </h1>

      <div class="price">{{ product.price }} ₽</div>

      <button (click)="addToCart(product)" mat-flat-button color="primary">В корзину</button>
    </div>
  </div>

  <section class="description">
    <h2>Описание</h2>

    <p>
      {{ product.description }}
    </p>
  </section>
  <section>
    <h2>Похожие товары</h2>

    <div class="products-grid">
      @for (product of similarProducts(); track product.id) {
        <app-product-item [product]="product" />
      }
    </div>
  </section>
}
