/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
:root {
  --container-width: 1440px;

  --space-xs: 8px;
  --space-sm: 16px;
  --space-md: 24px;
  --space-lg: 32px;
  --space-xl: 56px;

  --radius-sm: 12px;
  --radius-md: 16px;
  --radius-lg: 24px;

  --text-primary: #111827;
  --text-secondary: #6b7280;
}