/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
:root {
  --container-width: 1440px;

  --space-xs: 8px;
  --space-sm: 16px;
  --space-md: 24px;
  --space-lg: 32px;
  --space-xl: 56px;

  --radius-sm: 12px;
  --radius-md: 16px;
  --radius-lg: 24px;

  --text-primary: #111827;
  --text-secondary: #6b7280;
}
.category-dialog-panel {
  .mat-mdc-dialog-surface {
    overflow: hidden !important;

    border-radius: 28px !important;

    box-shadow:
      0 30px 100px
      rgba(25, 40, 31, 0.18) !important;
  }
}
.product-dialog-panel {
  .mat-mdc-dialog-surface {
    overflow: hidden !important;

    border-radius: 28px !important;

    box-shadow:
      0 30px 100px
      rgba(25, 40, 31, 0.18) !important;
  }
}