<section class="hero">

  <div class="hero-content">

    <h1>
      Доставка свежей рыбы
      <span>за 60 минут</span>
    </h1>

    <p>
      Бесплатная доставка<br />
      при заказе от 5000 ₽
    </p>

    <a
      routerLink="/products"
      class="hero-button"
    >
      Заказать
    </a>

  </div>


  <div class="hero-visual">

    <div class="ice ice-1"></div>
    <div class="ice ice-2"></div>
    <div class="ice ice-3"></div>

    <img
      class="salmon"
      src="assets/images/hero-salmon.webp"
      alt="Свежий лосось"
    />

  </div>

</section>